server:
  port: 8888

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: info.zhaoliang.wonderful.domain
  configuration:
    mapUnderscoreToCamelCase: true

spring:
  #datasource config
  datasource:
    url: jdbc:mysql://localhost:3306/jeesite?useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false
    username: root
    password: 123456
    driver-class-name:  com.mysql.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource

logging.level.info.zhaoliang.wonderful.dao: debug